/* Common Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', 'system-ui';
    box-sizing: border-box;
}
:root{
    --accent-color:#66fcf1;
    --box-shadow :#45a29e;
    --text-color :whitesmoke;/*#c5c6c7;*/
    --light-shade :#1f2833;
    --dark-shade :#181818;
    --background: linear-gradient(#0b0c10,#1f2833,#0b0c10);
    
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background:var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.button{
    border:2px solid var(--accent-color);
    cursor: pointer;
    box-shadow: 0 6px 1px var(--box-shadow);
    transition: all 250ms ease;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--dark-shade);
    font-size: 0.9em;
    font-weight: 500;
}
.button:hover{
    color: var(--accent-color);
    background-color: transparent;
}
.button:is(:focus-visible,:active){
    transform: translateY(8px);
    box-shadow: none;
}
a{
    color: var(--text-color);
    text-align: center;
    padding: 0.8em;
    margin-top: 1.5em;
}
a:hover,:focus-visible{
    color: var(--accent-color);
}

/* Common form styling*/
.registration-form,
.login-form,
.new-chapter-form,
.new-subject-form,
.new-quiz-form,
.new-question-form{
    box-shadow:0px 0px 2em var(--box-shadow);
    background:var(--background);
    padding:2em;
    border: 5px solid var(--accent-color);
    border-radius: 20px;
    font-weight: 500;

    .heading{
        text-align: center;
        color: var(--accent-color);
        h2{
        margin-bottom: 0.2em;
        }
    }
    form{
        margin-top: 2em;
    }
    .input-field{
        display: flex;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: 1.5em;
    
        label{
            flex-grow: 1;
        }
        .button{
            border:2px solid var(--accent-color);
            background-color: var(--accent-color);
            color: var(--dark-shade);
            text-align: center;
            padding: 0.8em;
            margin-top: 1.5em;
            flex-grow: 1;
        }
        .button:hover{
            color: var(--accent-color);
            background-color: transparent;
        }
        .button:is(:focus, :active){
            transform: translateY(8px);
            box-shadow: none;
        }
        
    }
    input,textarea{
        font-size: 1rem;
        width: 280px;
        border: none;
        border-bottom: 2px solid var(--accent-color);
        background: transparent;
        color: var(--accent-color);
        padding-bottom: 8px;
        padding-left: 10px;
    }
    label{
        text-align: right;
    }
}

/* Admin-Dashboard and Quiz Management*/
.admin-container, .question-container,
.search-container{
    display: grid;
    place-items: center;
    nav{
        z-index: 999;
        border-bottom:3px solid var(--box-shadow);
        padding:1em 2em;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--light-shade);
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation{
            ul{
                display: flex;
                gap: 1em;
                a{
                    color: var(--text-color);
                }

                li + li{
                    border-left: 2px solid;
                    padding-left: 1em;
                }
            }
            a:hover,:focus-visible{
                color: var(--accent-color);
            }
        }

        .search-greeting{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5em;
            h2{
                display: inline-block;
                color: var(--accent-color);
            }
            input{
                width: 250px;
                padding: 0.6em 1em;
                border: 2px solid var(--box-shadow);
                background: transparent;
                font-size:medium;
                
                border-radius: 8px;
                
                
            }
            input:focus{
                border: 2px solid var(--accent-color);
                color: var(--dark-shade);
                font-weight: 600;
                background: rgb(120, 211, 206);
            }
        }
    }
    .course-list, .quiz-list{
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        row-gap: 2em;
        column-gap: 1em;
        flex-wrap: wrap;
        padding-bottom: 2em;
        table{
            flex: 0 0 430px;
            background: var(--background);
            text-align: center;
            border-collapse: collapse;
            th{
                color: #fff;
            }
            thead tr th,tbody{
                border: 2px solid var(--box-shadow);
                padding: 0.6em;
            }
            tbody{
                td{
                    padding: 0.5em;
                    
                }
                td a{
                    color: var(--text-color);
                    
                }
                td a:hover,:focus-visible{
                    color: var(--accent-color);
                }
            }
            
            .button{
                display: block;
                box-shadow: 0 4px 1px var(--box-shadow);
                color: var(--dark-shade);
                margin: 0.5em;
                font-weight: 600;
                
            }
            .button:hover,:focus-visible{
                color: var(--accent-color);
            }
            .button:active{
                transform: translateY(4px);
                box-shadow: none;
            }
            .green{
                box-shadow: 0 4px 1px rgba(83, 194, 83, 0.849);
                background-color: rgb(36, 250, 36);
                border:2px solid #388E3C
            }
            .green:hover,:focus-visible{
                background-color: var(--dark-shade);
                color: rgb(36, 250, 36);
            }
        }
        tbody tr td:nth-child(1){
            border-right: 2px solid var(--box-shadow);
        }
        tbody tr td:nth-child(3){
            border-left: 2px solid var(--box-shadow);
        }
        
    }
    .new-subject-icon,.new-question-icon{
        position: fixed;
        bottom: 5%;
        right: 2%;
        display: grid;
        place-items: center;
        font-size: large;
        font-weight: 600;
    }
}

/* New Chapter and New Subject*/
.new-chapter-form,
.new-subject-form{
    padding-bottom: 2em;
    .input-field{
        textarea{
            padding: 0.5em;
            border: 2px solid var(--accent-color);
            height: 150px;
            border-radius: 10q;
        }
    }
    .input-field:nth-child(3){
        margin: 2em;
        justify-content: space-evenly;
        >*{
            margin: 0;
            padding: 1em 4em;
        }
    }
    
}


.flash {
    min-width: fit-content;
    width:280px;
    position: fixed;
    top: 0.8em;
    font-style: italic;
    padding: 10px 20px;
    animation: fadeout 6s ease forwards;
    color: #FFFFFF;
    z-index: 999;

    &.success {
       background: #388E3C;
    }
    &.error {
        background:#FF9800;
    }    
    &.warning {
        background:#FF4C4C;
    }
    
}
@keyframes fadeout {
    0%,30%{
       right: 1em;
       opacity: 1;
    }
    100%{
        opacity: 0;
        right: -30%
    }   
}

.update-chapter {
    width:1250px;
    margin-block: 10px;
    box-shadow:0px 0px 2em var(--box-shadow);
    background:var(--background);
    padding:1em;
    border: 5px solid var(--accent-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width:1250px;
        display: grid;
        input{
            width: 50%;
            display: block;
            flex-grow: 1;
            font-size: 1.5rem;
            background: transparent;
            color: var(--accent-color);
            border: none;
        }
        
    }
    .button {
        font-size: large;
        background-color: var(--accent-color);
        width:90px;
        margin: 0;
        justify-self: flex-end;
        color: var(--dark-shade);
        &:hover{
            background-color: var(--dark-shade);
            color: var(--accent-color);
        }
    }
}

button  a{
    color: #0b0c10;
}


select {
    width: 280px;
    background-color: transparent;
    color: aquamarine;
    font-size: large;
    text-align: center; border: none;
    border-bottom:2px aqua solid ;

    option {
        background-color: var(--light-shade);
    }
}

.quiz-detail,.score-detail{
    display: grid;
    place-items: center;
    place-content: center;
    box-shadow:0px 0px 2em var(--box-shadow);
    background:var(--background);
    border: 5px solid var(--accent-color);
    border-radius: 20px;
    padding: 3em;
    width: 1000px;
    div {
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;
        margin-bottom: 6px;
    }
    label{
        flex-grow: 1;
        text-align: right;
    }
    p{
        width: 280px;
        font-weight: 400;   
        border: 2px solid var(--box-shadow);
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }
    a{
        width: 150px;  
    }

    table{
        flex: 0 0 430px;
        background: var(--background);
        text-align: center;
        border-collapse: collapse;
        min-width: 800px;
        margin: 10px;
        border-radius: 10px;
        th{
            color: #fff;
        }
        thead tr th,tbody{
            border: 2px solid var(--box-shadow);
            padding: 0.6em;
        }
        tbody{
            td{
                padding: 0.5em;
                
            }
        }
        
    }
}

.container{
    position: relative;
    width: 90%;
    height: 600px;
    background:var(--background);
    border: 5px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    .head{
        display: flex;
        justify-content: space-between;
        padding:1em;
        h3 {
            width: 180px;
        }
        
    }
    .question-container{
        font-size: 1.3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        .question{
            margin-top: 2em;
            width: 60%;
            border-radius: 10px;
            padding: 1em 2em;
            text-align: center;
            border: 5px solid var(--accent-color);
        }
        .option{
            position: relative;
            width: 150px;
            min-width: fit-content;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            label {
                width: 100%;
            }
            
            .options-div{
                width: 100%;
                display: flex;
                justify-content:space-between;
                align-items: center;
                gap: 1em;                
            }
        }
    
    }
    .question-number{
        font-size: 1rem;
        position: absolute;
        right: 2%;
        bottom: 2%;
        height: 88.5%;
        width: 50px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
                
        a{
            padding: 0.5em;
            margin-block:0.27em;
            width: 36px;
            border-radius: 5px 15px;
            box-shadow: 3px 3px 2px var(--box-shadow);
            border: 1px solid var(--accent-color);
            background-color: var(--accent-color);
            color: var(--dark-shade);
            margin-right: 0.5em;
            
        }
        a:hover{
            background-color: var(--background);
            color: var(--accent-color)
        }
        a:active{
            transform: translateY(3px);
            box-shadow: none;
        }        
    }
    .question-number::-webkit-scrollbar{
        width: 5px;
        
    }
    .question-number::-webkit-scrollbar-track{
        background: var(--background);
        
    }
    .question-number::-webkit-scrollbar-thumb{
        background-color: var(--light-shade);
        
    }
    
    .btn{
        .button{
            display: inline-block;
            width: 200px;
            min-width: fit-content;
            padding: 0.5em 1em;
            margin-inline:0.5em;
        }
    }
}
.score-detail table tbody td {
    border-right: 2px solid var(--box-shadow)
}

.result-container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    margin-top: 10%;
    height: inherit;
    
    .result-head{
        border: 2px solid var(--accent-color);
        height: 20vh;
        align-self: center;
        border-radius: 10px;
        width: 70%;
        box-shadow: 0 0 5px 5px var(--accent-color);
        margin-bottom: 1rem;
        h1{
            padding-top: 6vh;
            justify-self: center;
        }
    }
    .result{
        margin-top: 10px;
        margin-right:10px ;
        box-shadow: 0 0 5px 5px var(--accent-color);
        border:3px solid #4ce4ff;
        border-radius: 10px;
        padding-top: 10px;
        table{
            width:96%;  
            border-collapse: collapse;
            justify-self: center;
            margin-bottom:10px;
            
            .green{
                background-color: rgba(117, 233, 113, 0.575);
            }
            .yellow{
                background-color: rgba(228, 228, 90, 0.575);
            }  
            .red{
                background-color: rgba(218, 71, 71, 0.637);
            }
        }
        
        .ques{
            width: 380px;
        }
        td{
            padding: 10px 0;
            text-align: center;
        }
        th,tr,td {
            border-bottom: 2px solid var(--accent-color);
        }
        th{
            padding: 11px;
            border-right:3px solid var(--accent-color) ;
        } 
        th:nth-child(6){
               border: none;
        }   
    }
    
}
.result-head::-webkit-scrollbar{
    width:2px;
}

.index{
    video {
        min-width: 100%;
        min-height: 100%;
        position: fixed;
        right:0;
        left:0;
        top:0;
        z-index: -1 ;
    }
    .content{
        text-align: center;
        backdrop-filter:blur(15px);
        min-height: 300px;
        max-width: 900px;
        padding: 20px;
        border-radius: 10px;
        h1{
            color: var(--accent-color);
            font-size: 3rem;
            display: block;
        }
        a{
            position: relative;
            display: inline-block;
            padding: 12px 100px;
            border-radius: 50px;            
        }
    }
    
}

.user-container{
    width: 100%;
    padding-top: 3em;
    position: relative;
    text-align: center;
    table{
        border: 3px solid var(--box-shadow);
        border-collapse: collapse;
        tr th, tr td{
            padding:0.7em;
            border: 3px solid var(--box-shadow);
            text-align: center;
        }
        td a{
            display: inline-block;
            width: 80px;
            padding: 0.5em 0.3em;
            margin: 0.1em;
        }
    }
    a{
        display: block;
        width: 120px;
        border-radius:50px;
        margin-inline:auto;
    }
}

.home{
    display: block;  
    width: 180px;
    justify-self: center;
    border-radius: 50px;
}
.search-container .subject-section::-webkit-scrollbar,
.search-container .user-section::-webkit-scrollbar{
    display: none;
}
.all-quiz::-webkit-scrollbar{
    width: 8px;
    
}
.all-quiz::-webkit-scrollbar-track{
    background: var(--background);    
}
.all-quiz::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius: 20px;    
}
.search-container{
    margin-top: 4em;
    height: 500px;
    width: 90%;
    margin-inline: auto;
    max-width: 900px;
    margin-left: 220px;
        .all-quiz, .subject-section{
        margin-inline: auto;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
    }
    .subject-section{
        padding: 1em;
        padding-top: 2em;
        border:2px solid var(--box-shadow);
        border-radius: 10px;
        h2{
            width: fit-content;
            margin-top: 15px;
        }
        h2:first-child{
            display: inline;   
        }
        h3{
            display: inline-block;
            font-size: 1.5rem;
        }
    }
    .all-quiz{
        .quiz-container + .quiz-container{
            margin-top: 3em;
        }
        .quiz-container{
            margin-top: 1em;
            margin-right: 1em;
            border: 3px solid var(--box-shadow);
            .quiz{
                border: 2px solid var(--box-shadow);
                .header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:0.5em 1em;
                    border: 3px solid var(--box-shadow);
                }
                table{
                    width: 100%;
                    height: 250px;
                    min-height: fit-content;
                    border-collapse: collapse;
                }
                table thead tr th,
                tr td{
                    padding: 0.5em;
                    border: 5px solid var(--box-shadow);
                    text-align: center;
                }
                tr th{
                    font-size: 1.1rem;
                }
                tr td:nth-child(1){
                    text-align: left;
                }
            }
        }
    }
    .user-section{
        width: 110%;
        padding-top: 3em;
        position: relative;
        text-align: center;
        table{
            border: 3px solid var(--box-shadow);
            border-collapse: collapse;
            tr th, tr td{
                padding:0.7em;
                border: 3px solid var(--box-shadow);
                text-align: center;
            }
            td a{
                display: inline-block;
                width: 80px;
                padding: 0.5em 0.3em;
                margin: 0.1em;
            }
        }
        .home{
            margin-top: 6em;
        }
    }
}

