{% extends 'base.html' %}

{% block title %}
   Admin Dashboard 
{% endblock %}

{% block content %}
<div class="admin-container">
    {% include 'admin_nav.html'   %}
    {% include 'flash.html' %}
    
    <div class="course-list">
    {% for subject in subjects %}
        <table class="course">
            <thead>
                <tr>
                    <th colspan="3">{{subject.name | title}}
                        <a href="/update_subject/{{subject.id}}" class="button" style="display: inline-block; padding: 6px 5px 3px 5px; background: transparent; ">
                            ✒️
                        </a>
                        <a href="/delete_subject/{{subject.id}}" class="button" style="display: inline-block; background:transparent; padding: 2px;">
                            <img style="background: transparent; height: 22px; padding: 0; width: 30px;"
                                src="../static/delete_32dp_75FBFD_FILL0_wght400_GRAD0_opsz40.png" alt="delete" >
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Chapter Name</th>
                    <th>Number of <br>Questions</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if subject.chapters %}
                    {% for chapter in subject.chapters %}
                        <tr>
                            <td>{{chapter.name | title}}</td>
                            <td>{{chapter.questions | length}}</td>
                            <td><a href="/chapter_update/{{chapter.id}}" class="edit">Edit</a>/<a href="/delete_chapter/{{ chapter.id }}" class='edit'>Delete</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="button" href="new_chapter/{{subject.id}}">+ Chapter</a></td>
                    </tr>
                {% else %}
                <tr>
                    <td colspan="3" style="border-bottom: 2px solid var(--box-shadow); padding: 0.8em;">No Chapters Added</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td><a class="button" href="new_chapter/{{subject.id}}">+ Chapter</a></td>
                </tr>
                {% endif %}             
            </tbody>
        </table>
        {% endfor %}    
    </div> 
    <div class="new-subject-icon">
        <a href="{{url_for('new_subject')}}" class="button">+Subject</a>
    </div>
</div>
{% endblock %}