{% extends 'base.html' %}

{% block title %}
    Summary    
{% endblock %}


{% block content %}

<div class="admin-container">
    {% include 'admin_nav.html'   %}
    <div>
        <img src="../static/bar1.png" alt="Bar_graph"
         style="height: 300px; width: 500px;margin-right:50px;
          margin-top: 50px;display: inline; border-radius: 
          10px;box-shadow: 8px 8px 2px var(--box-shadow)">
        <img src="../static/circle1.png" alt="Circle_graph"
         style="height: 300px; width: 500px;display: inline;
         box-shadow: 8px 8px 2px var(--box-shadow); border-radius: 10px;">
    </div>
    <a href="{{ url_for('user_details' ) }}" class="button">View Users</a>
</div>
{% endblock %}