<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="index">
    {% include 'flash.html'   %}
    <video src="../static/istockphoto-1069436182-640_adpp_is.mp4" autoplay muted loop></video>

    <div class="content">
        <h1>Quiz Master</h1>

        <p>QuizMaster App is an engaging and interactive quiz platform designed for trivia lovers,
            educators, and students. It allows users to participate in
            quizzes across various subjects.</p><br>
        <a href="/register" class="button">Register</a> <a href="/login" class="button">Login</a>
    </div>
</div>
</body>
</html>

