{% extends 'base.html' %}


{% block title %}
    Chapter form
{% endblock %}

{% block content %}

{% include 'flash.html' %}

    {% if chapter %}
        <div class="new-chapter-form">
            <div class="heading">
                <h2>Update Chapter</h2>
            </div>
            <form action="/chapter_update/{{chapter.id}}" method="post">
                <div class="input-field"><label for="chapter-name">Name : </label><input id="chapter-name" name="chapter-name" type="text" value="{{chapter.name}}" required></div>
                <div class="input-field"><label for="chapter-desc">Description : </label><textarea id="chapter-desc" name="chapter-desc" type="text" required>{{chapter.description}}</textarea></div>
                <div class="input-field"><button type="submit" class="button">Update</button>
                    <a href="{{ url_for('admin_dashboard' ) }}" class="button">Cancel</a>
                </div>
            </form>
        </div>
    {% else %}
        <div class="new-chapter-form">
            <div class="heading">
                <h2>{{subject.name}} Chapter</h2>
            </div>
            <form action="/new_chapter/{{subject.id}}" method="post">
                <div class="input-field"><label for="chapter-name">Name : </label><input id="chapter-name" name="chapter-name" type="text" required></div>
                <div class="input-field"><label for="chapter-desc">Description : </label><textarea id="chapter-desc" name="chapter-desc" type="text" required></textarea></div>
                <div class="input-field"><button type="submit" class="button">Save</button><button class="button"><a href="{{ url_for('admin_dashboard' ) }}">Cancel</a></button>
                </div>
            </form>
        </div>
    {% endif %}
        
{% endblock %}