{% extends 'base.html' %}

{% block title %}
    Quiz
{% endblock %}


{% block content %}
    {% include 'flash.html' %}
    {% if attempt is not none %}
    <div class="container">
        <div class="head">
            <h2>Q.No: {{num}} / {{quiz.questions | length}}</h2>
            <h2>Quiz Ends At: <span id="endTime">{{ end_time }}</span></h2>
            <h3>Time Left: <span id="timer"></span></h3>
        </div>
        <div class="question-container">
            <div class="question">
                {{question.question | capitalize }}
            </div>
            
            <div class="option">
            <form style="font-size: larger;" method="post" action="/quiz_question/{{quiz.id}}/{{question.id}}">
                <div class="options-div">
                    <input type="radio" name="option" id="option_1" value="{{question.option_1}}"
                     {% if attempt.user_answer == question.option_1 %}checked{% endif %}>
                     <label for="option_1">{{question.option_1}}</label>
                </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_2" value="{{question.option_2}}"
                     {% if attempt.user_answer == question.option_2 %}checked{% endif %}>
                     <label for="option_2">{{question.option_2}}</label>   
                </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_3" value="{{question.option_3}}"
                     {% if attempt.user_answer == question.option_3 %}checked{% endif %}>                       
                    <label for="option_3">{{question.option_3}}</label>
                </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_4" value="{{question.option_4}}"
                     {% if attempt.user_answer == question.option_4 %}checked{% endif %}>                        
                    <label for="option_4">{{question.option_4}}</label>
                </div>
            </div>
            <div class="btn">
                <button type="submit" name="action" class="button" value="save_next">Save & Next</button>
                <button type="submit" name="action" class="button" value="submit">Submit</button>
                <button type="submit" name="action" class="button" value="clear">Clear</button>
            </div>
        </form>
            <div class="question-number">
                {% for question in quiz.questions %}
                    <a href="/quiz_question/{{quiz.id}}/{{question.id}}">{{loop.index}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="head">
            <h2>Q.No: {{num}} / {{quiz.questions | length}}</h2>
            <h2>Quiz Ends At: <span id="endTime">{{ end_time }}</span></h2>
            <h3>Time Left: <span id="timer"></span></h3>
        </div>
        <div class="question-container">
            <div class="question">
                {{question.question | capitalize}}
            </div>
            
            <div class="option">
            <form style="font-size: larger;" method="post" action="/quiz_question/{{quiz.id}}/{{question.id}}">
                <div class="options-div">
                    <input type="radio" name="option" id="option_1" value="{{question.option_1}}">
                    <label for="option_1">{{question.option_1}}</label>
                </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_2"  value="{{question.option_2}}">
                    <label for="option_2">{{question.option_2}}</label>
                 </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_3"  value="{{question.option_3}}">
                    <label for="option_3">{{question.option_3}}</label>
                </div>
                <div class="options-div">
                    <input type="radio" name="option" id="option_4"  value="{{question.option_4}}">
                    <label for="option_4">{{question.option_4}}</label>
                </div>
            </div>
            <div class="btn">
                <button type="submit" name="action" class="button" value="save_next">Save & Next</button>
                <button type="submit" name="action" class="button" value="submit">Submit</button>
                <button type="submit" name="action" class="button" value="clear">Clear</button>
            </div>
        </form>
            <div class="question-number">
                {% for question in quiz.questions %}
                    <a href="/quiz_question/{{quiz.id}}/{{question.id}}">{{loop.index}}</a>
                {% endfor %}
            </div>
        </div>
    </div>  
    {% endif %}
    <script>
        let endTime = new Date('{{isotime}}').getTime();
        function updateTime() {
            let current_time = new Date().getTime();
            console.log(current_time)
            let timeLeft = endTime - current_time;
            console.log(timeLeft)
            if (timeLeft <= 0) {
                document.getElementById('timer').innerHTML = "Time's up";
                clearInterval(timerInterval);
                window.alert('Quiz has been ended');
                window.location.href = "/submission";
                return;
            }
            if (timeLeft < 300000){
                document.getElementById('timer').style.color = 'red';
            }else{
                document.getElementById('timer').style.color = 'limegreen';
            }
            let hours = Math.floor(timeLeft/ (1000 * 60 * 60 ) % 24).toString().padStart(2,'0')
            let minutes = Math.floor(timeLeft / (1000 * 60) % 60).toString().padStart(2, '0');
            let seconds = Math.floor((timeLeft / 1000) % 60).toString().padStart(2, '0');
            
            document.getElementById('timer').innerHTML = hours + ":" + minutes +":" + seconds;

        }
        let timerInterval = setInterval(updateTime, 1000)
        updateTime()
    </script>
{% endblock %}
