{% extends 'base.html' %}

{% block title %}
    Scores
{% endblock %}

{% block content %}
<div class="admin-container">
    {% include 'user_nav.html'   %}
    <div class="score-detail">
        <h2>Quiz Scores</h2>
        {% if scores %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>No. of Questions</th>
                    <th>Date</th>
                    <th>Scores</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{score.quiz_id}}</td>
                        {% for quiz in quizzes %}
                            {% if quiz.id == score.quiz_id %}
                            <td>{{quiz.questions | length}}</td>
                            {% endif %}
                        {% endfor %}
                        
                        <td>{{score.time_stamp_of_attempt.strftime("%d/%m/%Y") }}</td>
                        {% set total_marks = namespace(value = 0) %}
                        {% for quiz in quizzes %}
                            {% if quiz.id == score.quiz_id %}
                                
                                {% for ques in quiz.questions %}
                                {% set total_marks.value = total_marks.value + ques.marks %}
                                
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <td>{{score.total_scored}} /{{total_marks.value}}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3>No Quiz attempted yet</h3>
        {% endif %}
        
    </div>
</div>
    
{% endblock %}