{% extends 'base.html' %}

{% block title %}
    Scores
{% endblock %}

{% block content %}
<div class="admin-container">
    {% include 'user_nav.html'   %}
    <div class="score-detail">
        <h2>Quiz Scores</h2>
        {% if results %}
        <table>
            <thead>
                <tr>
                    <th>Quiz ID</th>
                    <th>Chapter</th>
                    <th>No. of Questions</th>
                    <th>Questions attended</th>
                    <th>Date</th>
                    <th>Marks Scored</th>
                    <th>Total Marks</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.quiz_id }}</td>
                    <td>{{ result.chapter_name }}</td>
                    <td>{{ result.num_questions }}</td>
                    <td>{{result.attempted_questions}}</td>
                    <td>{{ result.date_attempted }}</td>
                    <td>{{ result.marks_scored }}</td>
                    <td>{{ result.total_marks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h3>No Quiz attempted yet</h3>
        {% endif %}
        
    </div>
</div>
    
{% endblock %}