{% extends 'base.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}

<div class="search-container">
    <h1>Search results</h1>
    {% if admin %}
    {% include 'admin_nav.html'   %}
        {% if category == "Subject" %}
        <div class="subject-section">
            {% if results %}
                {% for res in results %}
                <h2>Name: &nbsp;</h2><h3>{{res.name}}</h3>
                <h2>Description: </h2><span>{{res.description|capitalize}}</span>
                {% if res.chapters %}
                <h2>Chapters: </h2>
                {% for chapter in res.chapters %}
                    {{loop.index}}. &nbsp;<span>{{chapter.name}}</span>
                    &nbsp;&nbsp;&nbsp;
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            {% else %}
                <h1>No results found</h1>
            {% endif %}

            {% elif category == "Quiz" %}
            <div class="all-quiz">
                {% for res in results %}
                <div class="quiz-container">
                    {% if res.quizes %}
                        {% for quiz in res.quizes %}
                        <div class="quiz">
                            <div class="header">
                                <h2>{{ res.name }}</h2>
                                <div class="date-duration">
                                    <h3>Quiz Date: {{ quiz.date_of_quiz }}</h3>
                                    <h3>Duration: {{ quiz.time_duration }} (HH:MM)</h3>
                                </div>
                            </div>
                                {% if quiz.questions %}
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Question</th>
                                                <th>Correct Answer</th>
                                                <th>Marks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ques in quiz.questions %}
                                                <tr>
                                                    <td>{{ ques.question }}</td>
                                                    <td>{{ ques.correct_answer }}</td>
                                                    <td>{{ ques.marks }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p><strong>No questions added.</strong></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% elif res.quizzes | length < 0 %}
                        <h1>No quizzes found</h1>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            {% if category == "User" %}
            <div class="user-section">
                {% if results %}
                    <table>
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Qualification</th>
                                <th>Dob</th>
                                <th>Actions</th>
                            </tr>
                        {% for user in results %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{user.fullname}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.qualification}}</td>
                            <td>{{user.dob}}</td>
                            <td >
                                <a href="{{ url_for('edit_user' , user_id = user.id)}}" class="button">Edit</a>
                                <a href="{{ url_for('delete_user', user_id = user.id ) }}" class="button">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h1>No Users found</h1>
                {% endif %}
            {% endif %}
        {% endif %}
        <a href="{{ url_for('admin_dashboard' ) }}" class="button home">Home</a>
    </div>
    {% else %}<!--User else-->
        {% if results %}
            {% if category == "Score" %}
            <div class="score-detail">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Quiz date</th>
                        <th>Duration</th>
                        <th>No. of Questions</th>
                        <th>Last attempt</th>
                        <th>Scores</th>
                        <th>Chapter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score, quiz, chapter in results %}
                    <tr>
                        <td>{{ score.quiz_id }}</td>
                        <td>{{ quiz.date_of_quiz }}</td>
                        <td>{{ quiz.time_duration }} (HH:MM)</td>
                        <td>{{ quiz.questions | length }}</td>
                        <td>{{ score.time_stamp_of_attempt.strftime('%d-%m-%Y %H:%m %p')}}</td>
                        
                        {% set total_marks = namespace(value=0) %}
                        {% for ques in quiz.questions %}
                            {% set total_marks.value = total_marks.value + ques.marks %}
                        {% endfor %}
                        
                        <td>{{ score.total_scored }} / {{ total_marks.value }}</td>
                        <td>{{ chapter.name }}</td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            {% elif category == "Date" %}<!--Date search-->
            <div class="quiz-list" style="position: absolute; ">
                <table style="min-width: 1000px; margin: auto;">
                    <thead>
                        <tr>
                            <th colspan="5"><h2>Quiz details</h2></th>
                        </tr>
                        <tr>
                            <th>Quiz Id</th>
                            <th>Date of quiz</th>
                            <th>Duration (HH:MM)</th>
                            <th>No. of questions</th>
                            <th>Chapter Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for res, chapter_name in results %}
                        <tr>
                            <td>{{res.id}}</td>
                            <td>{{res.date_of_quiz}}</td>
                            <td>{{res.time_duration}}</td>
                            <td>{{res.questions | length}}</td>
                            <td>{{chapter_name}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        {% else %}
            <h1>No results found</h1>
        {% endif %}
        <a href="/user_dashboard" class=" button">Home</a>
    {% endif %}
   
</div>
{% endblock %}
