{% extends 'base.html' %}

{% block title %}
    User list    
{% endblock %}


{% block content %}

<div class="admin-container">
    {% include 'admin_nav.html'   %}
    {% include 'flash.html' %}
    <div class="user-container">
        <table>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Email</th>
                <th>Dob</th>
                <th>Qualification</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{loop.index }}</td>
                    <td>{{user.fullname }}</td>
                    <td>{{user.email }}</td>
                    <td>{{user.dob }}</td>
                    <td>{{user.qualification }}</td>
                </tr>
            {% endfor %}
        </table>
    <a href="{{ url_for('admin_dashboard' ) }}" class="button">Back</a>

    </div>

</div>
{% endblock %}
